# build files
build/
cmake-build-*/

# built files
images/

# cached dependencies
managed_components/
components/inkplate

# ide files
.idea/

# sdkconfig backup
sdkconfig.old

# local configuration (TODO: make versioned)
provisioning/
!provisioning/example.nvs.csv
!provisioning/images/example.nvs.bin
