# build files
build/
cmake-build-*/

# built files
images/*
!images/.gitkeep

# cached dependencies
managed_components/

# ide files
.idea/

# sdkconfig
sdkconfig
sdkconfig.old

# local configuration (TODO: make versioned)
provisioning/*.*
provisioning/images/*
!provisioning/images/.gitkeep
!provisioning/images/example.nvs.bin
!provisioning/example.nvs.csv
